body {
    margin: 0px auto;
    margin-top: 50px;
    max-width: 600px;
}

h1 {
    text-align: center;
}

.sign{
    display: flex;
    flex-direction: row-reverse;
}

.logIn{
    margin-right: 10px;
}

table, th {
    border: 1px solid;
}

/* view */
.viewContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.ID{
    display: flex;
}

.ID_1{
    margin-right: 111px;
}

.title, .content{
    width: 100%;
    margin-top: 20px;
}

.title input{
    width: 100%;
    height: 30px;
}

.content input{
    width: 100%;
    height: 350px;
}

.goBack{
    margin-top: 20px;
}

/* view page - 댓글 */

.commentTable, #comment{
    margin-top: 20px;
}

.commentTable .content{
    width: 92%;
}

.commentTable .delete{
    width: 6%;
}

.comment input{
    width: 550px;
    height: 25px;
    margin-left: 4px;
    
}

#comment button{
    margin-top: 10px;
    position: absolute;
    right: 0;
}

