<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="">이름</label>
        <input type="text" name="name">
        <label for="">닉네임</label>
        <input type="text" name="nickName">
        <label for="">ID</label>
        <input type="text" name="user_id">
        <label for="">PW</label>
        <input type="text" name="user_pw">
        <label for="">PW 확인</label>
        <input type="text" name="user_pw_check">
        <button>회원가입</button>
    </form>
</body>
</html>