/* style 태그에 작성했던 방식으로 코드를 작성 */
div{
    color: red;
}

/* basic css */

.display{
    display: block;
    /* block은 블록 요소, div태그의 기본값, 자기의 너비를 전부 갖는다 */
    display: inline;
    /* 인라인, span, a 등 기본값을 인라인으로 가지고 있고 자신 옆에 태그를 자리할 수 있다 */
    display: flex;
    /* 자식 태그들을 정렬시킬수 있다. 정렬시키는 방식은 여러가지 있다 */
    display: inherit;
    /* 부모한테 값을 가져와서 적용시킨다. 사용할 일이 거의 없다 */
    display: initial;
    /* 태그가 기본적으로 가지고 있던 속성으로 초기화한다(기본값 적용) */
    display: none;
    /* 화면에서 태그를 보이지않게 지운다. 
        자바스크립트에서 display 속성이 none으로 적용되어 있으면 선택이 되지 않는다 */
    
}

.wh{
    width: 100px;
    /* 태그의 너비 */
    height: auto;
    /* 태그의 높이 */
    width: max-content;
    /* 가지고 있는 자식 태그의 너비만큼 차지한다 */
    width: min-content;
    /* 자식 태그의 최소 너비만큼 차지한다 */
    max-width: 100px;
    /* 설정한 값 이상으로 태그의 너비가 커지지 않는다.(최대너비) */
    min-width: 100px;
    /* 설정한 값 이하로 태그의 너비가 줄어들지 않는다(최소너비) */
}

.content{
    width: 50px;
    height: 50px;
    overflow: hidden;
    /* 자식의 태그가 부모영역 이상으로 보이지 않게 설정 */
    overflow: scroll;
    /* 자식 태그의 내용에 스크롤 적용 */
    overflow-x: scroll;
    overflow-y: scroll;
    /* x축 혹은 y축에만 스크롤 적용할 때 */
    opacity: 0.5;
    /* 투명도 설정. 1은 100% */
}

.text{
    font-size: 10px;
    /* 글씨의 크기 pc 크롬 기준 기본값이 10px */
    /* 모바일이나 pc 환경에 따라 기본값이 다를 수 있다 */
    font-weight: 500;
    /* 글시의 굵기 */
    /* 기본값은 500이고 글꼴을 가져왔을 땐 기본값이 변할 수 있다 */
    color: rgba(52, 37, 18, 0.5);
    /* 글씨의 색 rgb(), rgba() 등으로 설정이 가능하다 */
    text-align: center;
    /* 글자의 정렬을 가운데로 */
    text-align: end;
    /* 오른쪽 끝으로 정렬 */
    text-align: start;
    /* 왼쪽 끝으로 정렬 */
    text-decoration: overline;
    /* 텍스트 위에 줄긋기 */
    text-decoration: underline;
    /* 텍스트에 밑줄 긋기 */
    text-decoration: none;
    /* 텍스트 꾸밈 요소 제거 */
    letter-spacing: 10px;
    /* 글자의 간격을 수정할 때 */
}

